h2,
h1 {
  text-align: center;
}

.hero-full {
  background-image: url("../../public/about-cover.png");
}

.history h2 {
  margin: 2rem 0;
}

.history .history-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.italic {
  font-style: italic;
}

.about-us {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-us-imgs {
  position: relative;
  width: 100%;
  height: fit-content;
}

.about-us img {
  display: block;
  object-fit: cover;
  width: 70%;
  margin: 0 auto;
}

.bottom-left {
  position: absolute;
  top: 2rem;
  left: 25.5%;
}

.mission-statement {
  margin-bottom: 5rem;
}

.mission-statement p {
  margin-top: 2rem;
  text-align: center;
}

.mission-statement-imgs,
.culture-imgs {
  position: relative;
  height: fit-content;
  width: 100%;
}

.mission-statement-imgs img,
.culture-imgs img {
  display: block;
  object-fit: cover;
  width: 90%;
  margin: 0 auto;
}

.top-right {
  right: 20%;
  top: 0;
}

.bottom-right {
  right: 0;
  top: 2rem;
  position: absolute;
}

.our-creed section {
  display: grid;
  grid-template-columns: 1fr;
}

.our-creed .declaration {
  margin-top: 2rem;
}

.our-creed,
.general-overseer,
.leadership,
.core-values {
  margin-bottom: 5rem;
}

.our-creed-imgs,
.goals-and-objectives-imgs,
.core-values-imgs,
.leadership-imgs,
.general-overseer-imgs {
  position: relative;
  height: fit-content;
  margin-bottom: 5rem;
}

.our-creed-imgs img,
.goals-and-objectives img,
.core-values-imgs img,
.leadership-imgs img,
.general-overseer img {
  display: block;
  object-fit: cover;
  width: 90%;
  margin: 0 auto;
}

.top-left-creed,
.top-left-values,
.top-left-leadership {
  top: 0;
  left: 0;
}

.bottom-left-creed,
.bottom-left-values,
.bottom-left-leadership {
  position: absolute;
  top: 2rem;
  left: 10.5%;
}

.goals-and-objectives,
.our-culture {
  margin-bottom: 5rem;
}

.top-right-objectives,
.top-right-overseer {
  top: 0;
  left: 0;
}

.bottom-right-objectives,
.bottom-right-overseer {
  top: 2rem;
  left: 10.5%;
  position: absolute;
}

.hide-list {
  display: none;
}

@media (max-width: 820px) {
  .hide-list {
    display: flex;
    margin-top: 4rem;
  }

  .hero-full {
    margin: 0rem auto;
    width: 100%;
    border-radius: 0;
  }

  .our-creed .text-bold {
    font-weight: normal;
  }

  .list-with-icon > section {
    display: grid;
    grid-template-columns: 1rem auto;
    align-items: start;
    gap: 8px;
    width: 100%;
  }

  .about-us {
    margin-top: 2rem;
    gap: 3rem !important;
  }

  .mission-statement {
    margin-top: 2rem;
    /* gap: 2rem !important; */
  }

  h2 {
    margin-bottom: 2rem !important;
  }

  .about-us img,
  .mission-statement img,
  .our-creed-imgs img,
  .goals-and-objectives img,
  .core-values-imgs img,
  .leadership-imgs img,
  .general-overseer img {
    margin: 0;
  }

  .top-left {
    top: 50%;
    left: 50%;
    /* transform: translate(-70%, -50%); */
  }

  /* .bottom-left {
    top: calc(50% + 2rem);
    left: 75.5%;
    transform: translate(calc(-70% - 2rem), -45.5%);
  } */

  /* .about-us img {
    height: 250px;
  } */
}
